*{
  --cen-surface: #fff;
  --cen-light: #f5f5f6;
  --cen-dark: #323232;

  --cen-primary: #003566;
  --cen-primary-light: #3f5e94;
  --cen-primary-dark: #000f3b;

  --cen-secondary: #ffc300;
  --cen-secondary-light: #fff54f;
  --cen-secondary-dark: #c79300;

  --cen-error: #b00020;
  --cen-link: #f5f5f6;
  --cen-approved: #79a82d;

  --cen-light-bold: 500;
}